.portfolio__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
    list-style-type: none;
}

.portfolio__links_content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.7;
    letter-spacing: -0.04em;
    margin: 20px 0 19px;
    padding: 0;
    color: #000000;
    text-decoration: none;

}

.portfolio__links_nav {
    width: 29px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.portfolio__links_nav:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 900px) {
    .portfolio__link_content {
        font-size: 28px;
        line-height: 1.8;
    }
}

@media screen and (max-width: 600px) {
    .portfolio__links_content {
        font-size: 18px;
        line-height: 1.55;
        min-width: 250px;
    }

    .portfolio__links_nav {
        width: 18px;
        height: 28px;
    }
}