.account-button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    border: none;
    background-color: #F9F9F9;
    border-radius: 20px;
    padding: 8px 20px;
}